@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
html {
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.app {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-size: 100%;
  background: #fff;
}

.style-scope.yt-icon {
  display: block;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.navbar {
  width: 100%;
  height: 56px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
}
.navbar .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.navbar .navbar-center {
  width: 97%;
  height: 56px;
  margin: 0 auto;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .icon {
  font-size: 20px;
  cursor: pointer;
}
.navbar .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex-shrink: 1;
}
.navbar .left .bars {
  background-color: transparent;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.navbar .left .icon {
  font-size: 24px;
}
.navbar .left .logo {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .left img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .left .logo-text {
  transform: translate(-2px, -9px);
  font-size: 9px;
  color: #606060;
}
.navbar .left .clone {
  transform: translate(-1px, -9px);
  font-size: 9px;
  color: #606060;
}
.navbar .center {
  width: 52%;
  height: 40px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
}
.navbar .center .search {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .center .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.navbar .center .search-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  flex-grow: 1;
  max-height: 100%;
  padding-left: 15px;
  border: 1px solid transparent;
  border-radius: 40px 0 0 40px;
}
.navbar .center .icon-span {
  padding: 5px 0 5px 5px;
  visibility: hidden;
}
.navbar .center .search-box {
  width: 95%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 9px 5px 9px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 40px 0 0 40px;
  border-right: none;
}
.navbar .center .input {
  width: 100%;
  height: 20px;
  padding: 0;
  font-size: 16px;
  outline: none;
  border: none;
}
.navbar .center .search-btn {
  width: 10%;
  min-width: 67px;
  height: 100%;
  padding: 7px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}
.navbar .center .search-btn:hover {
  background-color: #dbdbdb;
}
.navbar .center .search-btn svg {
  margin: 0 auto;
}
.navbar .center .srch-btn {
  display: none;
  margin-left: 15px;
  background-color: transparent;
}
.navbar .center .mic {
  margin-left: 15px;
  background-color: #f8f8f8;
}
.navbar .center .has-focus .search-box-container {
  border: 1px solid #065fd4;
}
.navbar .center .has-focus .icon-span {
  visibility: visible;
}
.navbar .center .has-focus .search-box {
  border: none;
}
.navbar .right {
  padding: 0 10px;
}
.navbar .right,
.navbar .right-inner {
  min-width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.navbar .login {
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #ff5722;
}
.navbar .fi-video,
.navbar .bs-bell {
  font-size: 21px;
}
.navbar .hi-outline-user {
  color: #fff;
}
.navbar .effect {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
  position: relative;
}
.navbar .effect:hover {
  background-color: #dbdbdb;
}
@media (max-width: 657px) {
  .navbar .navbar-center {
    width: 94.5%;
  }
  .navbar .center {
    justify-content: end;
    margin-right: 10px;
  }
  .navbar .center .form {
    display: none;
  }
  .navbar .center .srch-btn {
    display: block;
  }
  .navbar .center .mic {
    background-color: transparent;
    margin-left: 10px;
  }
}
@media (max-width: 429px) {
  .navbar .center {
    margin-right: 5px;
  }
  .navbar .mic,
  .navbar .bell {
    display: none;
  }
  .navbar .right,
  .navbar .right-inner {
    min-width: 90px;
  }
}

.sidenav {
  width: auto;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 56px;
  background-color: #fff;
  z-index: 3;
}

@media (max-width: 791px) {
  .sidenav {
    display: none;
  }
}
.wrapper {
  background-color: #fff;
  width: 72px;
  min-width: 72px;
  min-height: 91vh;
  padding-top: 10px;
}
.wrapper .mini-drawer {
  padding: 5px;
}
.wrapper .appdrawer-link {
  text-decoration: none;
  color: #030303;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding: 15px 10px;
  border-radius: 8px;
}
.wrapper .appdrawer-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.wrapper .drawer-text {
  font-size: 10px;
  margin-top: 10px;
}

.appdrawer {
  background-color: #fff;
  width: 240px;
  min-width: 240px;
  max-height: 92vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.appdrawer::-webkit-scrollbar {
  width: 8px;
}
.appdrawer::-webkit-scrollbar-track {
  background: transparent;
}
.appdrawer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.appdrawer::-webkit-scrollbar-thumb {
  background: transparent;
}
.appdrawer:hover {
  scrollbar-width: thin;
}
.appdrawer:hover::-webkit-scrollbar-thumb {
  background: #888;
}
.appdrawer .appdrawer-wrapper {
  padding: 5px 15px;
}
.appdrawer .appdrawer-tray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.appdrawer .appdrawer-tray .title {
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.appdrawer .appdrawer-tray .red {
  color: #f00;
}
.appdrawer .appdrawer-tray p {
  margin: 0;
  padding: 16px 24px 0;
}
.appdrawer .appdrawer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.appdrawer .appdrawer-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.appdrawer svg {
  font-size: 24px;
  margin-right: 25px;
}
.appdrawer .drawer-text {
  font-size: 14px;
}
.appdrawer a {
  text-decoration: none;
  font-size: 13px;
  margin-right: 8px;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
  display: inline-block;
  line-height: 10px;
}
.appdrawer .footer {
  border: none;
}

.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  transition: all ease 0.2s;
}
.sidemenu .container {
  width: 240px;
  padding-right: 4px;
  background: #fff;
  transition: all ease 0.2s;
}
.sidemenu .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  background-color: #fff;
  margin-left: -5px;
}
.sidemenu .header .bars {
  position: relative;
  background-color: transparent;
  margin-right: 10px;
  margin-left: 19px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.sidemenu .header .bars:hover {
  background-color: #dbdbdb;
}
.sidemenu .header .icon {
  font-size: 24px;
}
.sidemenu .header .logo {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidemenu .header img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.sidemenu .header .logo-text {
  transform: translate(-2px, -9px);
  font-size: 9px;
  color: #606060;
}

.sidemenu.show {
  visibility: visible;
  opacity: 1;
}
.sidemenu.show .container {
  transform: translateX(0);
}

.main-page .chip-bar-wrapper {
  position: fixed;
  top: 56px;
  display: flex;
  height: 56px;
  width: auto;
  background: #fff;
  z-index: 3;
}
.main-page .button-container {
  position: absolute;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: transparent;
}
.main-page .button-container .button-box {
  width: 56px;
  height: 56px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.main-page .button-container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border: none;
}
.main-page .button-container button:hover {
  background-color: #dbdbdb;
}
.main-page .button-container.right {
  right: 0;
}
.main-page .button-container.right::before {
  content: "";
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0) 80%);
}
.main-page .button-container.left::after {
  content: "";
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0) 80%);
}
.main-page .button-container.hide {
  display: none;
}
.main-page .chip-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.main-page .chip-bar::-webkit-scrollbar {
  display: none;
}
.main-page .chip-bar .bar, .main-page .chip-bar .compass {
  display: block;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 8px;
  color: #0f0f0f;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 400;
  cursor: pointer;
}
.main-page .chip-bar .bar:hover, .main-page .chip-bar .compass:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-page .chip-bar .bar.selected {
  color: #fff;
  background-color: #606060;
}
.main-page .chip-bar .explore {
  display: none;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 8px;
  margin-right: 8px;
}
.main-page .chip-bar .explore > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .chip-bar .explore svg {
  margin-right: 5px;
}
@media (max-width: 657px) {
  .main-page .chip-bar .explore {
    display: block;
  }
}
.main-page .videos {
  margin-top: 112px;
}

.slidingheader {
  width: 100%;
  max-width: 100%;
}
.slidingheader .chip-bar-wrapper {
  position: relative;
  display: flex;
  height: 56px;
  width: 100%;
  min-width: 100%;
}
.slidingheader .button-container {
  position: absolute;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: transparent;
}
.slidingheader .button-container .button-box {
  width: 56px;
  height: 56px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.slidingheader .button-container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border: none;
}
.slidingheader .button-container button:hover {
  background-color: #dbdbdb;
}
.slidingheader .button-container.right {
  right: 0;
}
.slidingheader .button-container.right::before {
  content: "";
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0) 80%);
}
.slidingheader .button-container.left::after {
  content: "";
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0) 80%);
}
.slidingheader .button-container.hide {
  display: none;
}
.slidingheader .chip-bar {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slidingheader .chip-bar::-webkit-scrollbar {
  display: none;
}
.slidingheader .chip-bar .bar {
  display: block;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 10px;
  color: #0f0f0f;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 400;
}
.slidingheader .chip-bar .bar:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.slidingheader .chip-bar .bar.selected {
  color: #fff;
  background-color: #000;
}

.videopage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 12px;
  padding: 12px;
  overflow-y: visible;
}

.videocard {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
}
.videocard .img__container {
  position: relative;
}
.videocard .video__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 12px;
}
.videocard .hover__text {
  position: absolute;
  bottom: 0.5rem;
  right: 0.2rem;
  background: #000;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.15rem;
  visibility: hidden;
  transition: all ease 0.2s;
}
.videocard .video__img:hover ~ .hover__text {
  visibility: visible;
}
.videocard .video__desc {
  display: flex;
  align-items: flex-start;
}
.videocard .video__desc .channel__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 12px 12px 0 5px;
}
.videocard .video__desc .channel {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.videocard .video__desc .channel .desc h4, .videocard .video__desc .channel p {
  margin: 0;
  padding: 0;
  color: #0f0f0f;
}
.videocard .video__desc .channel .desc h4 {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 8px;
}
.videocard .video__desc .channel .desc p {
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}
.videocard .video__desc .channel .channel__btn {
  background-color: transparent;
  transform: translate(10px, -7px);
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.videocard .video__desc .channel .channel__icon {
  pointer-events: none;
  visibility: hidden;
}
.videocard .video__desc .channel__btn:active {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.videocard:hover .channel__icon {
  visibility: visible !important;
}

.popoutcard {
  position: absolute;
  top: 0;
  height: auto;
  visibility: hidden;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 1.2s;
  z-index: 10;
}
.popoutcard .btn__group {
  margin: 10px 0;
}
.popoutcard button.video__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 95%;
  height: 30px;
  padding: 10px;
  margin: 5px auto;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.05);
}
.popoutcard .pop__btn {
  background-color: transparent;
  transform: translateY(-7px);
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popoutcard .pop__btn:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.popoutcard .pop__icon {
  pointer-events: none;
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 4px;
  margin: 0;
}

.submenu {
  display: none;
  position: fixed;
  width: 230px;
  height: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 8px 0;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.submenu .btn {
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  background-color: #fff;
}
.submenu .btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.submenu .btn svg {
  margin: 0 12px;
}
.submenu .divider {
  margin: 4px 0 4px 0;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 657px) {
  .submenu .h-icon {
    display: none;
  }
}

.submenu.show {
  display: block;
}

.singlevideopage {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  margin-top: 56px;
}
.singlevideopage .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
.singlevideopage .videopage__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: auto;
  background-color: transparent;
  padding: 20px;
}
.singlevideopage .singlevideo {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 18px;
}
.singlevideopage .singlevideo .container {
  width: 100%;
}
.singlevideopage .singlevideo .iframe__container {
  width: 100%;
}
.singlevideopage .singlevideo iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 65vh;
  border: none;
  margin-bottom: 1rem;
}
.singlevideopage .singlevideo h1 {
  text-transform: capitalize;
  word-break: break-word;
  font-size: 1.2rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  overflow: hidden;
  display: block;
  max-height: 5.6rem;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
}
.singlevideopage .singlevideo .channel__action {
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.singlevideopage .singlevideo .channel__action .action__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.singlevideopage .singlevideo .channel__action .channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
}
.singlevideopage .singlevideo .channel__action .channel img {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.singlevideopage .singlevideo .channel__action .channel p {
  font-size: 0.75rem;
}
.singlevideopage .singlevideo .channel__action .channel .channel__desc * {
  margin: 0;
}
.singlevideopage .singlevideo .channel__action .channel .channel__desc p {
  line-height: 1.5;
}
.singlevideopage .singlevideo .channel__action .subscribe {
  margin: 0;
  height: 36px;
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 0 16px;
  text-align: center;
  text-transform: capitalize;
  line-height: 36px;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}
.singlevideopage .singlevideo .channel__action .subscribe:hover {
  opacity: 0.7;
}
.singlevideopage .singlevideo .channel__action .action__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.singlevideopage .singlevideo .channel__action .action__right .span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 10px;
  margin: 0;
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0f0f0f;
  text-transform: capitalize;
  line-height: 36px;
  cursor: pointer;
}
.singlevideopage .singlevideo .channel__action .action__right .span > span:last-child {
  margin-left: 5px;
}
.singlevideopage .singlevideo .channel__action .action__right .thumb {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.singlevideopage .singlevideo .channel__action .action__right div button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  border: none;
  cursor: pointer;
}
.singlevideopage .singlevideo .channel__action .action__right button.like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px 0 0 18px;
  letter-spacing: 0.5px;
  padding: 0;
  padding-left: 10px;
}
.singlevideopage .singlevideo .channel__action .action__right button.like .like__count {
  border-right: 1px solid #d3d3d3;
  padding: 0 8px;
  line-height: 25px;
  font-weight: 600;
}
.singlevideopage .singlevideo .channel__action .action__right button.dislike {
  padding: 0 10px;
  border-radius: 0 18px 18px 0;
}
.singlevideopage .singlevideo .channel__action .action__right button.more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.singlevideopage .singlevideo .channel__action .action__right button.more span {
  margin: 0 !important;
}
.singlevideopage .singlevideo .channel__action .action__right button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.singlevideopage .singlevideo .description {
  position: relative;
  height: auto;
  margin-top: 12px;
  padding: 12px;
  padding-bottom: 50px;
  color: #0f0f0f;
  font-size: 14px;
  line-height: 20px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
}
.singlevideopage .singlevideo .description .head {
  font-weight: 600;
  line-height: 20px;
}
.singlevideopage .singlevideo .description .head .views {
  margin-right: 5px;
}
.singlevideopage .singlevideo .description .info {
  padding: 1px;
}
.singlevideopage .singlevideo .description .info p:first-child {
  margin-bottom: 15px;
}
.singlevideopage .singlevideo .description button {
  position: absolute;
  bottom: 12px;
  left: 7px;
  padding: 0 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: transparent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
}
.singlevideopage .singlevideo .description.closed {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  padding-bottom: 0;
}
.singlevideopage .singlevideo .description.closed:hover {
  background: rgba(0, 0, 0, 0.1);
}
.singlevideopage .singlevideo .closed .info {
  max-height: 4rem;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  mask-image: linear-gradient(to top, transparent 0%, transparent 2rem, rgb(0, 0, 0) 2rem, rgb(0, 0, 0) 100%), linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) -21px, transparent 3px, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 2rem, rgb(0, 0, 0) 2rem, rgb(0, 0, 0) 100%), linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) -21px, transparent 3px, transparent 100%);
}
.singlevideopage .related {
  min-width: 0;
  grid-column: 2/3;
  grid-row: 1/3;
}
.singlevideopage .related .show__btn {
  width: 100%;
  height: 36px;
  text-align: center;
  padding: 0 16px;
  margin-top: 1rem;
  line-height: 36px;
  border: 1px solid #d3d3d3;
  border-radius: 18px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", "Arial", sans-serif;
  color: #065fd4;
}
.singlevideopage .related .show__btn:hover {
  background: #def1ff;
  border: 1px solid #def1ff;
}
.singlevideopage .comments__container {
  padding: 12px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.singlevideopage .comments__container .comments__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  margin: 1rem 0;
}
.singlevideopage .comments__container .comments__header span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
}
.singlevideopage .comments__container .comments__header .comments__count {
  margin-right: 2rem;
}
.singlevideopage .comments__container .comments__header .sort span:last-child {
  margin-left: 1rem;
  font-weight: 600;
}
.singlevideopage .comments__container .comment__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.singlevideopage .comments__container .comment__box span {
  background-color: #ff5722;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  color: #f1f1f1;
  font-size: 1.2rem;
}
.singlevideopage .comments__container .comment__box form {
  align-self: flex-start;
  width: 100%;
  margin-right: 2.5rem;
}
.singlevideopage .comments__container .comment__box input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.3rem 0;
  border-bottom: 1px solid #d3d3d3;
}
@media (max-width: 657px) {
  .singlevideopage .singlevideo {
    padding: 0;
  }
  .singlevideopage .singlevideo iframe {
    height: 37vh;
  }
  .singlevideopage .singlevideo h1 {
    line-height: 2rem;
  }
}
@media (max-width: 657px) and (max-width: 429px) {
  .singlevideopage .singlevideo {
    padding: 0;
  }
  .singlevideopage .singlevideo iframe {
    height: 30vh;
  }
  .singlevideopage .singlevideo h1 {
    line-height: 1.5rem;
  }
}
@media (max-width: 1012px) {
  .singlevideopage .videopage__inner {
    display: block;
  }
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  padding: 0.3rem 0 1.3rem;
  margin: 1rem 0;
  border-bottom: 1px solid #fff;
}
.comment .avatar {
  align-self: flex-start;
  background-color: #ff5722;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  color: #f1f1f1;
  font-size: 1.2rem;
}
.comment .message {
  flex-grow: 1;
  color: #0f0f0f;
}
.comment .message .header {
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.comment .message .header .username {
  margin-right: 5px;
  font-weight: 600;
}
.comment .message .header .message__time {
  word-spacing: -2px;
  color: #606060;
}
.comment .message p {
  line-height: 2rem;
}
.comment .message .msg__btn {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
}
.comment .message .msg__btn .like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  margin-right: 10px;
}
.comment .message .msg__btn .like button {
  margin-right: 4px;
}
.comment .message .msg__btn .like .like__count {
  color: #606060;
  font-size: 0.8rem;
  transform: translateX(-0.2rem);
}
.comment .message .msg__btn .thumb.down {
  margin-right: 15px;
}
.comment .message .msg__btn .reply {
  transform: translateY(-0.2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  background: transparent;
}
.comment .message .msg__btn .reply:hover {
  background: rgba(0, 0, 0, 0.1);
}
.comment .message .msg__btn .thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.comment .message .msg__btn .thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}
.comment .message .reply__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border: 0;
  font-weight: 600;
  color: #065fd4;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  border-radius: 18px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", "Arial", sans-serif;
}
.comment .message .reply__btn span:first-child {
  transform: translateX(-4px);
}
.comment .message .reply__btn:hover {
  background: #def1ff;
}
.comment .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-start;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  display: none;
  transition: all ease 0.2s;
}
.comment .btn:active {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.comment:hover .btn {
  display: block;
}

.f-card {
  min-height: 94px;
  width: 100%;
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.f-card * {
  margin: 0;
}
.f-card .f-image {
  flex-shrink: 0;
  position: relative;
  width: 168px;
  height: 94px;
  border-radius: 10px;
  margin-right: 10px;
}
.f-card .f-image img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.f-card .f-image .ctrl {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  visibility: hidden;
  transition: visibility ease 0.1s;
}
.f-card .f-image .ctrl svg {
  background-color: black;
  margin-bottom: 3px;
  padding: 2px;
  border-radius: 3px;
}
.f-card .f-desc {
  min-width: 0;
  display: flex;
  align-items: flex-start;
  padding-right: 10px;
  flex-grow: 1;
}
.f-card .f-desc .desc-text {
  min-width: 0;
  flex-shrink: 1;
  font-family: "Roboto", "Arial", "sans-serif";
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.f-card .f-desc h5 {
  max-width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.f-card .f-desc p {
  max-width: 100%;
  font-size: 0.75rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.f-card .f-desc button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background: transparent;
  visibility: hidden;
  transition: visibility ease 0.1s;
}
.f-card .f-desc button:active {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.f-card:hover .ctrl,
.f-card:hover button {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */