// colors
$grey: #d3d3d3;
$light: #f8f8f8;
$hover: #dbdbdb;
// $main: #f9f9f9;
$call: #065fd4;
$orange: #ff5722;
$light-bg: rgba(0, 0, 0, 0.1);
$lighter-bg: rgba(0, 0, 0, 0.05);
$text-color: #0f0f0f;

// sizes
$nav-height: 56px;
$mini-drawer-width: 72px;
$drawer-width: 240px;









//     pointer-events: auto;
//     opacity: 1;
//     transform: scale(1) translate(var(--ytd-video-preview-translate-left),var(--ytd-video-preview-translate-top));
//     transition: opacity 200ms ease-in,transform 160ms ease-out 200ms;





// box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 20%);

