.videocard {
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    // z-index: 5;

    .img__container {
        position: relative;
    }

    .video__img {
        width: 100%;
        object-fit: contain;
        border-radius: 12px;
    }

    .hover__text {
        position: absolute;
        bottom: 0.5rem;
        right: 0.2rem;
        background: #000;
        color: #fff;
        font-size: 0.75rem;
        padding: 0.3rem 0.7rem;
        border-radius: 0.15rem;
        visibility: hidden;
        transition: all ease 0.2s;
    }

    .video__img:hover ~ .hover__text {
        visibility: visible;
    }

    .video__desc {
        display: flex;
        align-items: flex-start;

        .channel__avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin: 12px 12px 0 5px;
        }

        .channel {
            flex: 1;
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .desc h4, p {
                margin: 0;
                padding: 0;
                color: $text-color;
            }

            .desc h4 {
                line-height: 20px;
                font-size: 14px;
                margin-bottom: 8px;
            }

            .desc p {
                line-height: 18px;
                font-size: 12px;
                font-weight: 400;
                color: #606060;
            }

            .channel__btn {
                background-color: transparent;
                transform: translate(10px,-7px);
                @include icon-style;
            }

            .channel__icon {
                pointer-events: none;
                visibility: hidden;
            }
        }

        .channel__btn:active {
            background-color: $lighter-bg;
            border: 1px solid $light-bg;
        }
    }
    
    &:hover .channel__icon {
        visibility: visible !important;
    }
}